// .login_signup_container {
//   display: flex;
//   //   align-items: center;
//   height: 80vh;
//   background-image: url(../../../Images/3.jpeg);
//   background-size: 100%;
//   background-position: bottom;
//   opacity: 0.5;
//   .login_container,
//   .signup_container {
//     background-color: transparent;
//     width: 70%;
//     display: flex;
//     align-items: center;
//   }

.content-box {
  width: 60%;
  height: 70%;
  margin: 0px auto;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
}
