.homepage-footer {
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: #2b2d2e;
  padding: 30px 0 30px;
  .footer-container {
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;
    .logo-comp-name {
      display: flex;
      align-items: center;
      font-weight: 600;
      margin: 10px auto 25px;
      .comp-name {
        padding-top: 2.5px;
        color: #efefef;
        font-size: 1em;
        font-weight: 600;
        font-family: "icomoon", Helvetica, Arial, "hiragino kaku gothic pro",
          "meiryo", "Microsoft YaHei", "ms pgothic", "Apple SD Gothic Neo",
          "Nanum Gothic", "Malgun Gothic", sans-serif;
      }
    }
    .info {
      //   width: 90%;
      //   max-width: 1060px;
      margin: 0 auto 25px;
      word-break: break-word;
      float: left;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.66667em;
      color: hsla(0, 0%, 100%, 0.8);
      width: calc(100% - 250px);
    }
  }
}
