$border: 1px solid #bebdbd;

.make_portfolio_page {
  display: flex;
  justify-content: center;

  .mpp_container {
    padding: 10px 40px 20px;
    margin-top: 70px;
    border-radius: 10px;
    min-width: 80%;

    .projects_title_bar {
      display: flex;
      width: 100%;

      .projects_title {
        font-size: 2em;
        font-style: italic;
        margin: 10px 0px;
      }
      .add_btn {
        font-size: 14px;
        color: rgb(85, 85, 85);
        margin-left: 10px;
        background-color: transparent;
      }
    }

    .mpp_projects_container {
      max-height: 700px;
      overflow: scroll;
    }

    .btn_group {
      display: flex;
      justify-content: flex-end;
      height: 40px;
      margin-top: 20px;

      .completed_btn {
        background-color: rgba(0, 201, 167, 0.9);
      }
      .save_btn {
        background-color: rgba(55, 125, 255, 0.9);
      }
      .preview_btn {
        background-color: rgba(58, 104, 249, 0.9);
      }

      .save_btn,
      .completed_btn,
      .preview_btn {
        width: 100px;
        border-radius: 10px;
        font-size: 0.9em;
        margin-left: 10px;
        color: white;
      }
    }
  }
  .mpp_container:hover {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 768px) {
  .make_portfolio_page {
    .mpp_container {
      padding: 0px;
      margin-top: 70px;
      border-radius: 10px;
      width: 95%;
    }
  }
}
