.make_portfolio_page {
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .mpp_container {
    background-image: url("http://getwallpapers.com/wallpaper/full/a/7/e/392886.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 90px 200px 40px;

    .mpp_projects_container {
      max-height: 700px;
      height: 100%;
      overflow: scroll;
      .projects_title {
        font-size: 2em;
        padding: 0px 30px;
        font-style: italic;
      }
    }

    .btn_group {
      display: flex;
      justify-content: flex-end;
      height: 50px;
      margin: 20px 30px;
      .add_btn {
        background-color: rgb(57, 194, 159);
      }
      .save_btn {
        background-color: rgb(61, 126, 255);
      }
      .preview_btn {
        background-color: rgb(31, 54, 255);
      }

      .add_btn,
      .save_btn,
      .preview_btn {
        width: 110px;
        border-radius: 10px;
        color: white;
        font-size: 14px;
        margin: 0px 10px;
      }
    }
  }
}
