.lsup-category {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  padding: 150px 0px;
  .lsup-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    .site-introduce {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      .introduce-title {
        font-size: 3em;
        font-weight: 700;
        line-height: 1.2;
        color: #333333;
      }
      .introduce-sub {
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.67;
        margin-top: 10px;
      }
    }
  }
  .buttons {
    width: 70%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    background-size: 100%;
    .front_end_btn,
    .back_end_btn,
    .full_stack_btn {
      width: 350px;
      height: 350px;
      border-radius: 50%;
      font-size: 2.5em;
      color: #fff;
      font-weight: 600;
    }
    .front_end_btn {
      margin-right: -70px;
      background-color: rgba(170, 66, 244, 0.8);
    }
    .front_end_btn:hover {
      background-color: rgba(170, 66, 244, 1);
    }
    .back_end_btn {
      background-color: rgba(115, 211, 211, 0.8);
    }
    .back_end_btn:hover {
      background-color: rgba(115, 211, 211, 1);
    }
    .full_stack_btn {
      margin-left: -70px;
      background-color: rgba(8, 8, 193, 0.8);
    }
    .full_stack_btn:hover {
      background-color: rgba(8, 8, 193, 1);
    }
  }
  .start-button {
    margin: 0px auto;
    padding: 30px 0px;
    width: 15em;
    border-radius: 45px;
    background-color: #3a68f9;
    display: flex;
    align-items: center;
    .button-text {
      width: 100%;
      text-align: center;
      font-size: 25px;
      font-weight: 600;
      color: #fff;
    }
  }
}
