.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 450px;
  padding: 0px 30px;

  .name_input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    font-size: 3em;
    font-weight: 600;
    width: 350px;
    text-align: center;
    margin-top: 10px;
  }
  .name_input::placeholder {
    color: grey;
    padding-right: 200px;
  }
  .contact_info_title {
    font-size: 1.8em;
    .period {
      color: rgb(57, 194, 159);
    }
  }
  .phone_input,
  .email_input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    margin-right: 15px;
    margin-top: 10px;
    width: 250px;
    font-size: 1em;
  }
  .phone_input::placeholder,
  .email_input::placeholder {
    color: grey;
  }
  .blog_link_title {
    font-size: 1.8em;
    .period {
      color: rgb(61, 126, 255);
    }
  }
  .blog_link_input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    width: 550px;
    font-size: 1em;
  }
  .blog_link_input::placeholder {
    color: grey;
  }

  .about_me_title {
    font-size: 1.8em;
    .period {
      color: rgb(31, 54, 255);
    }
  }
  .about_me_input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    width: 600px;
    height: 90px;
    font-size: 1em;
  }
}

.period {
  font-size: 60px;
}

.header_border {
  border-bottom: 1px solid black;
  margin: 20px 0px;
  width: 100%;
}
