$border: 1px solid #bebdbd;

.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 500px;

  .title {
    display: flex;
    height: 50px;

    .title_input {
      border: none;
      font-size: 3em;
      font-weight: 600;
      font-style: italic;
      background-color: transparent;
      width: 100%;
      .title_input::placeholder {
        color: grey;
      }
    }
  }

  .contact_info_title {
    font-size: 1.8em;
    .period {
      color: rgba(0, 201, 167, 0.9);
    }
  }
  .phone_input,
  .email_input {
    border: none;
    margin-top: 10px;
    width: 100%;
    font-size: 1em;
    background-color: transparent;
  }
  .phone_input::placeholder,
  .email_input::placeholder {
    color: grey;
  }
  .blog_link_title {
    font-size: 1.8em;
    .period {
      color: rgba(55, 125, 255, 0.9);
    }
  }
  .blog_link_input {
    border: none;
    margin-top: 10px;
    width: 100%;
    font-size: 1em;
    background-color: transparent;
  }
  .blog_link_input::placeholder {
    color: grey;
  }

  .about_me_title {
    font-size: 1.8em;
    .period {
      color: rgba(58, 104, 249, 0.9);
    }
  }
  .about_me_input {
    border: none;
    border-bottom: $border;
    width: 100%;
    height: 90px;
    font-size: 1em;
    background-color: transparent;
    line-height: 1.8em;
    word-break: keep-all;
    white-space: pre-wrap;
  }
}

.period {
  font-size: 60px;
}
