.welcome-container {
  margin-top: 7vh;
  background-image: url(../../../Images/5.jpeg);
  background-size: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 240px 0 360px 0;

  .title-container {
    margin: 0 auto;
  }
  .title {
    font-size: 120px;
    font-weight: 900;
    margin: 0 auto;
    // margin: 0 auto;
    text-align: center;
    color: #fff;
  }
  .subtitle {
    font-size: 55px;
    font-weight: 700;
    margin: 10px auto 0;
    text-align: center;
    color: #fff;
  }
}
