.Experience {
  border: 1px solid black;
}

.E_Projects {
  display: flex;
  justify-content: row;
}

.E_Title_Container {
  border: 1px solid black;
}

.E_Description_Container {
  border: 1px solid black;
}
