$border: 1px solid #bebdbd;

.ppp_header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  .ppp_title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;

    .ppp_title_value {
      border: none;
      font-size: 4.5em;
      font-weight: 600;
      font-style: italic;
      background-color: transparent;
      color: black;
      white-space: pre-wrap;
      word-break: keep-all;
      line-height: 1.3em;
    }
  }

  .ppp_contact_info_title {
    font-size: 1.8em;
    .ppp_period {
      color: rgba(0, 201, 167, 0.9);
    }
  }
  .ppp_phone_value,
  .ppp_email_value {
    border: none;
    margin-top: 10px;
    font-size: 1em;
    background-color: transparent;
    white-space: pre-wrap;
    word-break: keep-all;
  }

  .ppp_blog_link_title {
    font-size: 1.8em;
    margin-bottom: 20px;
    .ppp_period {
      color: rgba(55, 125, 255, 0.9);
    }
  }
  .ppp_blog_link_value {
    border: none;
    font-size: 1em;
    background-color: transparent;
    text-decoration: none;
    color: black;
    white-space: pre-wrap;
    word-break: keep-all;
  }

  .ppp_about_me_title {
    font-size: 1.8em;
    .ppp_period {
      color: rgba(58, 104, 249, 0.9);
    }
  }
  .ppp_about_me_value {
    border: none;
    margin-top: 20px;
    height: auto;
    font-size: 1em;
    background-color: transparent;
    white-space: pre-wrap;
    word-break: keep-all;
    line-height: 1.8em;
  }
}

.ppp_period {
  font-size: 60px;
}
