@import "Styles/Reset.scss";

.interview_container {
  height: 50px;
  margin-top: 40px;
  .interview_box_container {
    display: flex;
    border: $border-line;
    .interview_box {
      margin: 10px;
      width: 50%;
      height: 172px;
      padding: 10px;
      h6 {
        font-weight: 600;
      }
    }
  }
}
