@import "Styles/Reset.scss";

.interview_container {
  margin-top: 40px;
  .interview_box_container {
    display: flex;
    border: $border-line;
  }
  .review_container {
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: space-around;
    .review,
    .writing {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 600;
    }
    .writing {
      cursor: pointer;
    }
  }
}
