@import "../../Styles/Reset.scss";

.cdp_main {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
  .main_left {
    width: calc(100% - 360px);
    position: relative;
    .detail_image {
      background-image: url("https://static.wanted.co.kr/images/company/2902/lqtwk41cwzf6wlr4__1080_790.jpg");
      background-size: cover;
      height: 500px;
      width: 100%;
      background-repeat: no-repeat;
      margin-bottom: 20px;
    }
    .name_container {
      width: 100%;
      margin-top: 40px;
      h2 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #333;
      }
      h3 {
        font-size: 14px;
        font-weight: 700;
      }
      .name_and_location {
        display: flex;
        .location {
          border-left: 1px solid #d8d8d8;
          margin-left: 10px;
          padding-left: 10px;
          color: #999999;
          font-size: 14px;
          font-weight: 700;
        }
      }
      ul {
        width: 100%;
        margin-top: 20px;
      }
      p {
        span {
          width: 100%;
          font-size: 16px;
          color: #333;
          font-weight: 500;
          word-break: keep-all;
          word-wrap: break-word;
          white-space: pre-wrap;
          line-height: 1.63;
        }
      }
      h6 {
        font-weight: 700;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: -20px;
      }
    }
  }

  .main_right {
    width: 340px;
    margin-left: 20px;
    height: 268px;
    border: $border-line;
    position: fixed;
    top: 70px;
    right: 10%;
    h3 {
      font-size: 23px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}
