@import "Styles/Reset.scss";

.cdp_main {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  position: relative;

  .main_left {
    width: calc(100% - 360px);
    position: relative;
    .main_image {
      background-size: cover;
      height: 500px;
      width: 100%;
      background-repeat: no-repeat;
      margin-bottom: 20px;
    }
    .choice_box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      height: 50px;
      margin-bottom: -20px;
      .choice {
        width: 50%;
        margin: 0 50px;
        height: 100%;
        padding: 20px 0;
        font-weight: 600;
        border-radius: 3px;
        border-bottom: 3px solid #258bf7;
        &:hover {
          cursor: pointer;
          border-bottom: 3px solid #258bf7;
        }
        &:active {
          background-color: #258bf7;
          color: white;
        }
      }
      .choice_false {
        width: 50%;
        margin: 0 50px;
        height: 100%;
        padding: 20px 0;
        font-weight: 600;
        border-radius: 3px;
        &:hover {
          cursor: pointer;
          border-bottom: 3px solid #258bf7;
        }
        &:active {
          background-color: #258bf7;
          color: white;
        }
      }
    }
  }

  .main_right {
    width: 340px;
    margin-left: 20px;
    height: 338px;
    position: fixed;
    top: 70px;
    right: 10%;
    .logo_and_name {
      display: flex;
      align-items: center;
      height: 70px;
      .logo {
        width: 50px;
        height: 50px;
        background-size: 100%;
        border: $border-line;
      }
      .company_name {
        font-weight: 600;
        margin-left: 10px;
      }
    }
    .like_container {
      height: 70px;
      border-top: $border-line;
    }
    .follow_btn,
    .follow_btn_on {
      width: 100%;
      height: 50px;
      font-size: 16px;
      color: #ffffff;
      font-weight: 700;
      border-radius: 3px;
      margin-top: 20px;
    }
    .follow_btn {
      background-color: #258bf7;
    }
    .follow_btn_on {
      background-color: white;
      border: 1px solid #258bf7;
      color: #258bf7;
    }
  }
}

@media only screen and (max-width: 768px) {
  .cdp_main {
    .main_left {
      width: 100%;
    }
    .main_right {
      display: none;
    }
  }
}
