button {
  border: none;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  position: fixed;
  width: 100%;

  .NB_Logo_Btn {
    font-size: 1.4em;
    font-weight: 600;
    font-family: "icomoon", Helvetica, Arial, "hiragino kaku gothic pro",
      "meiryo", "Microsoft YaHei", "ms pgothic", "Apple SD Gothic Neo",
      "Nanum Gothic", "Malgun Gothic", sans-serif;
  }

  .NB_MyAccount_Btn,
  .NB_MakePortfolio_Btn,
  .NB_LogOut_Btn {
    font-size: 0.9em;
    font-weight: 450;
  }
}
