.my_account_page {
  display: flex;
  margin-top: 50px;

  .account_page_container {
    width: 100%;

    padding: 20px 200px;

    .wecode_advertisement {
      word-spacing: 2px;
      display: flex;
      align-items: center;
      height: 50px;
      margin: 0 0 24px 0;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      white-space: normal;
      border-radius: 5px;
      background: #373d43
        url(https://static.wanted.co.kr/images/resume/resume_banner_pc.png)
        no-repeat 85% 0;
      padding: 0px 30px;
      text-decoration: none;
    }

    .my_job_list {
      font-size: 20px;
      font-weight: 400;
      font-style: italic;
      .job_list_title {
        border-bottom: 1px solid #efefef;
      }
    }

    .my_portfolio_list {
      display: flex;
      flex-direction: column;

      .portfolio_list_title {
        font-size: 20px;
        font-weight: 400;
        font-style: italic;
        border-bottom: 1px solid #efefef;
      }
      .create_new_portfolio_btn {
        font-size: 16px;
        font-weight: 300;
        color: black;
        border: 1px solid #efefef;
        border-radius: 10px;
        display: inline-block;
        margin-top: 10px;
        height: 40px;
        width: 120px;
      }
      .create_new_portfolio_btn:hover {
        background-color: black;
        color: white;
      }

      .portfolio_list_container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
  }
}
