.loginModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.loginModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  .header-container {
    border-bottom: 1px solid #efefef;
    height: 54px;
    padding: 17px 20px 15px 20px;
    position: relative;
    display: flex;
    align-items: center;
    .login-header {
      width: 100%;
      color: #333;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      word-wrap: break-word;
    }
    .close-btn {
      position: absolute;
      top: 21px;
      right: 20px;
      font-size: 12px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .contents-container {
    padding: 10px;
    .title-container {
      text-align: center;
      word-break: break-word;
      margin-bottom: 40px;
      .title {
        line-height: 1.4;
        margin: 20px 0 10px;
        font-weight: 600;
        font-size: 26px;
        color: #333;
        text-align: center;
      }
      .subtitle {
        font-size: 18px;
        color: #777;
        line-height: 1.4;
        margin: 20px 0 10px;
        font-weight: 600;
        text-align: center;
      }
    }
    .input-area {
      width: 100%;
      .email-input,
      .pw-input {
        outline: none;
        box-sizing: border-box;
        resize: none;
        color: #333;
        font-size: 16px;
        margin: 0px auto 10px auto;
        padding: 13px 15px;
        border-radius: 3px;
        border: 1px solid #dbdbdb;
        width: 100%;
      }
    }

    .btn-area {
      padding-top: 20px;
      .login-btn-container {
        background-color: #3a68f9;
        display: flex;
        align-items: center;
        border-radius: 45px;
        padding: 13px 0px;
        margin: 10px auto;
        width: 80%;
        .login {
          color: #fff;
          width: 100%;
          font-size: 16px;
          font-weight: 600;
          text-align: center;
        }
      }
      .line-between {
        width: 50%;
        height: 1px;
        margin: 0 auto;
        background-color: #dbdbdb;
      }
      .signup-btn-container {
        background-color: #3a68f9;
        display: flex;
        align-items: center;
        border-radius: 45px;
        padding: 13px 0px;
        margin: 10px auto;
        width: 80%;
        .signup {
          color: #fff;
          width: 100%;
          font-size: 16px;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
}
