.searchModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  .input-area {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
    padding: 7px 0;
    .input-container {
      width: 100%;
      margin: 0px auto;
      display: flex;
      align-items: center;
      background-color: #e8e8e8;
      .input {
        height: 36px;
        width: 100%;
        margin: 0;
        padding: 0 20px;
        border: 0;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 300;
        color: #333;
        background-color: #e8e8e8;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .close-btn {
      margin-left: 20px;
      font-size: 14px;
      font-weight: 500;
      color: rgb(122, 120, 120);
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  .search-bottom {
    position: relative;
    margin: 0 auto;
    padding: 30px 0 20px 0;
    max-width: 1060px;
    width: 100%;
    .recommend-tag {
      display: inline-block;
      font-size: 16px;
      line-height: 1;
      font-weight: 400;
      color: #999;
    }
    .tag-container {
      padding: 20px 0 25px;
      list-style: none;
      .tag {
        display: inline-block;
        margin-right: 10px;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        font-weight: 400;
        padding: 0 26px;
        background-color: #f3f5f8;
        border-radius: 25px;
      }
    }
  }
}
