@import "Styles/Reset.scss";
.company_list_page {
  .filterArea {
    margin-top: 50px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
  }
  .filter_companyList_container {
    margin: 0 auto;
    width: 90%;
    max-width: 1060px;
    padding: 20px 0 80px;
  }
}
