.NavBarLogo {
  padding: 0 3px;
  display: flex;
  justify-content: center;
  background-size: 100%;
  .front,
  .back,
  .full {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .front {
    margin-right: -3px;
    background-color: rgba(0, 201, 167, 0.9);
  }
  .back {
    background-color: rgba(55, 125, 255, 0.9);
  }
  .full {
    margin-left: -3px;
    background-color: rgba(58, 104, 249, 0.9);
  }
}
