.signup-mode {
  width: 100%;
  display: flex;
  flex-direction: column;
  .id,
  .pw,
  .pw-check {
    outline: none;
    box-sizing: border-box;
    resize: none;
    color: #333;
    font-size: 16px;
    margin: 0px auto 10px auto;
    padding: 13px 15px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    width: 85%;
  }
  .error-msg-container {
    width: 85%;
    margin: 0px auto;
    padding: 0px 0px 10px 0px;
    font-size: 13px;
    color: red;
    // display: none;
  }
  .btn-container {
    background-color: #3a68f9;
    display: flex;
    align-items: center;
    border-radius: 45px;
    padding: 13px 0px;
    margin: 10px auto;
    width: 80%;
    .signup {
      color: #fff;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      &:hover {
        cursor: pointer;
        font-weight: 900;
      }
    }
  }
}
