// .login_signup_container {
//   // margin-top: 7vh;
// }

.login_signup_container {
  display: flex;
  height: 100vh;
  .login_container {
    background-color: blue;
    width: 100%;
  }
  .signup_container {
    background-color: cadetblue;
    width: 100%;
  }
}

.logo_list {
  height: 100vh;
  background-color: yellow;
}

.footer {
  height: 20vh;
  background-color: gray;
}
