// .LSUP_topLine {

// }

// .LSUP_title {

// }

.LSUP_loginSignUpContainer {
  display: flex;
}

.LSUP_login {
  width: 50%;
  background-color: aquamarine;
}

.LSUP_signUp {
  width: 50%;
  background-color: #3a68f9;
}

// .LSUP_bottomLine {

// }
