// .slick-slider {
//   max-width: 1060px;
//   margin: 0px auto;
//   .slick-prev {
//     left: 0px;
//   }
//   .slick-list {
//     width: 90%;
//     margin: 0 auto;
//     .slick-slide,
//     .slick-active {
//       display: flex;
//       align-items: center;
//     }
//     // display: flex;
//     // align-items: center;
//   }
//   .slick-next {
//     right: 0px;
//   }
//   .slick-prev:before,
//   .slick-next:before {
//     color: grey;
//   }
//   .slick-slide {
//     margin-right: 10px;
//     text-align: center;
//   }
// }

// my setting
.skills_container {
  white-space: nowrap;
  max-width: 1060px;
  margin: 0 auto 15px auto;
  .skills_item {
    width: 100px;
    margin-right: 9px;
    border-radius: 3px;
    display: inline-table;
    padding: 22.5px;
    text-align: center;
    background-color: #252525;
    opacity: 0.7;
    &:hover {
      cursor: pointer;
      background-color: #0e0d0d;
    }
    .skills_item_title {
      color: #ffffff;
      margin: 0px auto;
      font-size: 15px;
      font-weight: 600;
    }
  }
}

.slick-slide {
  margin-right: 10px;
}

.slick-list {
  width: 100%;
  margin: 0 auto;
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

.slick-prev:before,
.slick-next:before {
  color: grey;
}
